<div class="tabs1">
  <a class="tab1 active">
    <h3>My drones</h3>
  </a>
  <a class="tab1" href="<%= myrentals_path %>">
    <h3>My rentals</h3>
  </a>
  <a class="tab1" href="<%= profile_edit_path %>">
    <h3>My account</h3>
  </a>
</div>

<!-- Bouton "ajouter un drone" -->
<%= link_to "Add a drone", new_drone_path, class: "btn btn-primary" %>

<!-- Liste des drones appartenant au logged-in user. Pas de page vu du drone pour l'instant,
la page edit suffit pour les utilisateurs connectés non ?  -->
<ul>
  <% if current_user.drones.empty? %>
    <p>You currently have no drone</p>
  <% else %>
    <% current_user.drones.each do |drone| %>
      <li>
      <% if drone.photo_drone? %>
      <%= cl_image_tag drone.photo_drone.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <%= drone.model %>
      <%= link_to "edit", edit_drone_path(drone) %> |
      <%= link_to "delete", drone_path(drone), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
  <% end %>
  <% end %>
</ul>




