<div class="tabs1">
  <a class="tab1" href="<%= dashboard_path %>">
    <h3>My drones</h3>
  </a>
  <a class="tab1 active" >
    <h3>My rentals</h3>
  </a>
  <a class="tab1" href="<%= profile_edit_path %>">
    <h3>My account</h3>
  </a>
</div>

<!-- Bouton "ajouter un drone" -->
<%= link_to "Add a drone", new_drone_path, class: "btn btn-primary" %>

<!-- Liste des drones appartenant au logged-in user. Pas de page vu du drone pour l'instant,
la page edit suffit pour les utilisateurs connectés non ?  -->
<ul>
  <% Rental.all.each do |rental| %>
  <li>
    <% if rental.user_id == current_user %>
    <% if rental.drone.photo_drone? %>
    <%= cl_image_tag rental.drone.photo_drone.path, width: 200, height: 300, crop: :fill %>
    <% end %>
    <%= rental.drone.model %>
    <%= rental.drone.available %> |
    <% end %>
    <% end %>
  </li>
</ul>
